<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<head>
    <div th:replace="fragments/common :: myheader"></div>
    <title>Design</title>
</head>
<body>
<div class="container">
    <h1>Design your burger</h1>
    <img class="img" th:src="@{/images/burger.jpg}"/><br/>
    <form class="needs-validation" method="POST" th:object="${burger}">
        <div th:classappend="${#fields.hasErrors('ingredients')} ? is-invalid : ''"></div>
        <div class="invalid-feedback" th:errors="*{ingredients}">No ingredients</div>
        <div class="row row-cols-3">
            <div class="col ingredient-group" id="bun">
                <h3>Choose Bup</h3>
                <div th:each="ingredient : ${bun}">
                    <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}">
                    <span th:text="${ingredient.name}"></span><br/>
                </div>
            </div>
            <div class="col ingredient-group" id="meat">
                <h3>Choose Meat</h3>
                <div th:each="ingredient : ${meat}">
                    <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}">
                    <span th:text="${ingredient.name}"></span><br/>
                </div>
            </div>
            <div class="col ingredient-group" id="veggies">
                <h3>Choose Veggies</h3>
                <div th:each="ingredient : ${veggies}">
                    <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}">
                    <span th:text="${ingredient.name}"></span><br/>
                </div>
            </div>
            <div class="col ingredient-group" id="cheese">
                <h3>Choose Cheese</h3>
                <div th:each="ingredient : ${cheese}">
                    <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}">
                    <span th:text="${ingredient.name}"></span><br/>
                </div>
            </div>
            <div class="col ingredient-group" id="sauce">
                <h3>Choose Sauce</h3>
                <div th:each="ingredient : ${sauce}">
                    <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}">
                    <span th:text="${ingredient.name}"></span><br/>
                </div>
            </div>
        </div>
        <div class="col-3 my-2">
            <input type="text" class="form-control" id="name"
                   th:classappend="${#fields.hasErrors('name')} ? is-invalid : ''"
                   th:field="*{name}" placeholder="Name your burger">
            <div class="invalid-feedback" th:errors="*{name}">Name Error</div>
        </div>
        <button class="btn btn-primary" type="submit">Submit your burger</button>
    </form>
</div>
<div th:insert="fragments/common :: foot"></div>
</body>
</html>